.wrapper {
    margin: 10px 200px;
}

table {
    float: left;
}

td {
    width: 100px;
    height: 100px;
    font-weight: bold;
    color: #800000;
    text-align: center;
}

.xSeat,
.oSeat {
    float: left;
    color: blue;
    font-weight: bold;
    margin: 50px 50px;
    padding: 10px;
    height: 170px;
    width: 20px;
	border: 2px solid #c2c2c2;
	cursor: pointer;
}

.notAllowed {
	color: red;
    cursor: no-drop;
}

.gameOver {
    float: left;
    margin: 100px 0;
    animation: mymove 5s infinite;
    font-size: 40px;
}

/* Safari 4.0 - 8.0 */

@-webkit-keyframes mymove {
    0% {
        color: red;
        font-weight: bold;
    }
    20% {
        color: green;
        font-weight: bold;
    }
    40% {
        color: blue;
        font-weight: bold;
    }
    60% {
        color: #083F61;
        font-weight: bold;
    }
    80% {
        color: #480861;
        font-weight: bold;
    }
    100% {
        color: #800000;
        font-weight: bold;
    }
}

/* Standard syntax */

@keyframes mymove {
    0% {
        color: red;
        font-weight: bold;
    }
    20% {
        color: green;
        font-weight: bold;
    }
    40% {
        color: blue;
        font-weight: bold;
    }
    60% {
        color: #083F61;
        font-weight: bold;
    }
    80% {
        color: #480861;
        font-weight: bold;
    }
    100% {
        color: #800000;
        font-weight: bold;
    }
}

.header {
    font-weight: bold;
    color: red;
    margin: 5px 230px;
}

.winBoard {
    font-weight: bold;
    color: green;
    margin: 5px 450px;
}

button {
    margin: 20px 450px;
    padding: 10px;
    color: #480861;
    font-weight: bold;
}

.gameBoard {
    padding: 10px 0;
}